<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <img th:src="@{/images/white_logo.svg}">
            </div>
            <div class="footer-col">
                <h4>QuickLinks</h4>
                <ul class="footerul">
                    <li class="footerli"><a class="footera" th:href="@{/landing}">Home</a></li>
                    <li class="footerli"><a class="footera" href="">About</a></li>
                    <li class="footerli"><a class="footera" th:href="@{/blogs}">Blogs</a></li>
                    <li class="footerli"><a class="footera" th:href="@{/services}">Services</a></li>
                    <li class="footerli"><a class="footera" th:href="@{/contact}">Contact</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact us</h4>
                <div class="social-links">
                    <a class="footera" href="https://www.facebook.com/abhishek.karki.55/"><i class="fab fa-facebook-f"></i></a>
                    <a class="footera" href="https://twitter.com/abhishek_karky"><i class="fab fa-twitter"></i></a>
                    <a class="footera" href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJlHDWZhtJhdQlKxCMBMzRJFWdSpdHnxPPSNWkttfcPGVKbwwqFCsCGdHqGhjxsRKMmlwhL"><i class="fa-regular fa-envelope"></i></a>
                    <a class="footera" href="https://www.instagram.com/abhishekk_karki/"><i class="fab fa-instagram"></i></a>
                    <a class="footera" href="https://www.linkedin.com/in/abhishek-karki-347b31233/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="footera" href="https://web.whatsapp.com"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>