<header>
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo"> <a th:href="@{/landing}"><img th:src="@{/images/logo.svg}"></a></label>
    <ul>
      <li><a class="list-group-item active" id="homepage" th:href="@{/landing}">Home</a></li>
      <li><a href="" class="list-group-item" id="about">About</a></li>
      <div class="dropdown">
        <button class="dropbtn">Rooms</button>
        <div class="dropdown-content">
          <a th:href="@{/room/single-seater}" class="list-group-item" id="single-seater">Single Seater</a>
          <a href="" class="list-group-item" id="double-seater">Double Seater</a>
          <a href="" class="list-group-item" id="triple-seater">Triple Seater</a>
          <a href="" class="list-group-item" id="four-seater">Four Seater</a>
        </div>
      </div>
      <li><a href="" class="list-group-item" id="blogs">Blogs</a></li>
      <li><a href="" class="list-group-item" id="gallery">Services</a></li>
      <li><a th:href="@{/landing/contact}" class="list-group-item" id="contact">Contact</a></li>
    </ul>
  </nav>
</header>