* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.first {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
}
.firstleft {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 37%;
    height: 650px;
    justify-content: center;
    background-color: #f5f6f7;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    text-align: center;
}
.first-left-heading-one {
    font-weight: bold;
    font-size: 2.813rem;
}
.first-left-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    background-color: #6b7985;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
}
.first-left-anchor:hover {
    opacity: 0.8;
}
.firstright {
    display: flex;
    width: 58%;
    height: 650px;
}
.firstimg {
    width: 100%;
    height: 100%;
    /*border-top-left-radius: 12px;*/
    /*border-bottom-left-radius: 12px;*/
}
.second, .third, .forth, .fifth {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.secondfirst, .thirdfirst, .forthfirst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 45px;
    padding-right: 45px;
}
.seconda, .thirda, .fortha {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #6b7985;
    color: white;
    border: 0;
    border-radius: 12px;
}
.secondsecond, .thirdsecond, .forthsecond, .fifthsecond {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
.roomdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 480px;
    width: 340px;
    border-radius: 12px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.photodiv {
    width: 340px;
    height: 350px;
    overflow: hidden;
}
.room-pic {
    width: 100%;
    height: 100%;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    transition: transform .50s;
}
.room-pic:hover {
    border-radius: 12px;
    transform: scale(1.05);
}
.descriptiondiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 260px;
    height: 130px;
    padding-left: 15px;
}
.description-body {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2px;
}
.description-body-first {
    display: flex;
    width: 167px;
    justify-content: space-between;
    align-items: center;
}
.per-per {
    font-size: 0.625rem;
}
.price {
    color: red;
    font-weight: bolder;
    font-size: 1.125rem;
}
.picturediv {
    width: 340px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0;
    border-radius: 12px;
    margin-top: 15px;
    overflow: hidden;
}
.gallerypic {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    cursor: pointer;
    transition: transform .50s;
}
.gallerypic:hover {
    border-radius: 12px;
    transform: scale(1.05);
}
.blogs-tile {
    display: flex;
    flex-direction: column;
    padding: 7px;
    width: 340px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    margin-top: 30px;
}
.blogs-tile-heading {
    width: 100%;
    min-height: 2vh;
    margin-top: 7px;
}
.blogs-tile-heading p {
    font-size: 18px;
}
.blogs-tile-image-div {
    width: 100%;
    height: 250px;
    border-radius: 12px;
}
.blogs-tile-image-div img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.date-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97px;
    max-height: 2vh;
    margin-top: 7px;
}
.date-div p {
    color: #6b7985;
    font-size: 12px;
}
.blogs-tile-description {
    width: 100%;
    overflow: hidden;
    max-height: 10vh;
    margin-top: 7px;
}
.blogs-tile-anchor {
    display: flex;
    border: 0;
    outline: none;
    width: 90px;
    height: 30px;
    background-color: #6b7985;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    border-radius: 8px;
    font-size: 14px;
}
.blogs-tile-anchor:hover {
    opacity: 0.8;
}
.fifthfirst {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    padding-left: 45px;
    padding-right: 45px;
}
.profile-tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 350px;
    width: 250px;
    border-radius: 12px;
}
.profile-pic {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-name {
    font-size: 1.125rem;
    padding-top: 13px;
}
@media (max-width: 700px) {
    .first {
        align-items: center;
        justify-content: center;
    }
    .firstleft {
        width: 80%;
        align-items: center;
        justify-content: center;
    }
    .firstright {
        display: none;
    }
    .second, .third, .forth {
        width: 90%;
    }
    .secondfirst, .thirdfirst, .forthfirst {
        padding: 0;
    }
}
@media (max-width: 354px) {
    .roomdiv {
        width: 300px;
    }
    .photodiv {
        width: 300px;
    }
}