* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.single-main-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 15px;
}
.single-first {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
    min-height: 1px;
    width: 100%;
    height: 30vh;
    background-color: #f5f6f7;
}
.single-image {
    width: 100%;
    height: 100%;
}
.single-first-image {
    height: 25vh;
    width: 280px;
}
.single-first-main {
    display: flex;
    flex-direction: column;
    height: 15vh;
    color: #6b7985;
    justify-content: flex-start;
    align-items: center;
}
.single-first-main h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: black;
}
.subtitle {
    font-size: 1.063rem;
}
.single-search-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 10vh;
}
.fa-solid {
    font-size: 1.063rem;
    color: #6b7985;
    background-color: transparent;
}
.sort-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 140px;
    outline: 0;
    border: 0;
    background-color: #6b7985;
    color: white;
    border-radius: 10px;
}
.sort-anchor .fa-solid {
    color: white;
    padding-left: 5px;
}
.single-search-box {
    display: flex;
    width: 400px;
    height: 6vh;
    border: 2px solid #dddede;
    border-radius: 10px;
}
.search-input {
    width: 360px;
    height: 5.5vh;
    font-size: 0.938rem;
    padding-left: 10px;
    background-color: transparent;
    outline: none;
    border: 0;
    color: #6b7985;
    border-top-left-radius : 10px;
    border-bottom-left-radius: 10px;
}
.price {
    color: red;
    font-weight: bolder;
    font-size: 1.125rem;
    padding-left: 5px;
}
.search-icon-button {
    width: 38px;
    height: 5.5vh;
    background-color: transparent;
    outline: none;
    border: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.room-anchor-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 30vh;
    outline: none;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.room-div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 30vh;
    /* border: 1px solid #6b7985; */
    outline: none;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.room-div-one {
    width: 30%;
    height: 96%;
    /* border-top-left-radius: 12px;
    border-bottom-left-radius: 12px; */
}
.room-pic {
    width: 100%;
    height: 100%;
    /* border-top-left-radius: 12px;
    border-bottom-left-radius: 12px; */
}
.room-div-two {
    padding-left: 20px;
    width: 53%;
    height: 90%;
}
.price {
    color: red;
    font-weight: bolder;
    font-size: 1.125rem;
    padding-left: 5px;
}
.room-div-two h2 {
    font-family: "Roboto Thin";
    font-size: 30px;
}
.for-location {
    display: flex;
}
.for-location p {
    padding-left: 5px;
}
.room-description {
    width: 100%;
}
.room-div-three {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 90%;
}
.rating-div {
    display: flex;
    width: 77%;
    justify-content: space-evenly;
}
.room-div-three-anchor {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    width: 80%;
    height: 5vh;
    background-color: #6b7985;
    color: white;
    border: 0;
    outline: none;
    border-radius: 10px;
}
.rating {
    background-color: #434c54;
    color: white;
    border-radius: 5px;
    font: 500;
    font-size: 18px;
    border: 0;
    outline: none;
}
.room-div-three-anchor:hover {
    opacity: 0.9;
}
.room-div-three .rating-div .stars .fa-solid {
    color: #FDCC0D;
}
.heading-anchor {
    color: black;
}
.heading-anchor:hover {
    color: #434c54;
}
@media(max-width: 900px){
    .single-first-main h2 {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 17px;
    }
    .single-search-box {
        padding: 0;
        width: 100%;
    }
    .search-input {
        width: 95%;
    }
    .room-div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 480px;
        width: 340px;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .room-div-one {
        width: 340px;
        height: 350px;
        overflow: hidden;
    }
    .room-pic {
        width: 100%;
        height: 100%;
        border-top-right-radius: 12px;
        border-top-left-radius: 12px;
    }
    .room-div-two {
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        justify-items: center;
        align-items: flex-start;
        width: 100%;
        height: 100px;
        padding-left: 15px;
    }
    .price {
        font-weight: bolder;
        font-size: 1.125rem;
        margin-top: 3px;
    }
    .room-description {
        display: none;
    }
    .room-div-three {
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
        height: 50px;
        flex-direction: row;
    }
    .rating-div {
        display: flex;
        align-items: flex-start;
        padding-top: 13px;
        width: 120px;
        height: 50px;
    }
    .room-div-three-anchor {
        width: 150px;
    }
}
@media(max-width: 594px){
    .single-first-main h2 {
        font-size: 1.8rem;
    }
    .subtitle {
        font-size: 15px;
    }
}
@media (max-width: 500px) {
    .single-first-main {
        justify-content: center;
        align-items: flex-start;
        padding-left: 15px;
        width: 100%;
    }
    .single-first-image {
        display: none;
    }
}

