<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Add Double Seater</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin-add-room.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin-dashboard.css}">
</head>
<body>

<div class="grid-container">

  <header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="main-title">
      <h2>Add Double Seater Room</h2>
    </div>

  </header>

  <aside id="sidebar">

    <div class="sidebar-title">
      <img th:src="@{/images/abhi.JPG}" height="40px" width="40px" alt="">
      <h4 class="profile-text">Admin</h4>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <i class="fa-solid fa-house"></i> <a th:href="@{/192.168.1.1.1}">Dashboard</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{/192.168.1.1.1/add-single-seater-room}">Add Single Seater</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{/192.168.1.1.1/add-double-seater-room}">Add Double Seater</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{/192.168.1.1.1/add-triple-seater-room}">Add Triple Seater</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{/192.168.1.1.1/add-four-seater-room}">Add Four Seater</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{/192.168.1.1.1/add-blogs}">Add Blogs</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-right-from-bracket"></i> <a th:href="@{/logout}">logout</a>
      </li>
    </ul>
  </aside>
  <!-- Main -->
  <main class="main-container">
    <form th:method="post" th:action="@{/192.168.1.1.1/save/double-seater-room}" th:object="${ds}" enctype="multipart/form-data">
      <div class="form-fields">
        <input type="number" hidden="hidden" name="id" th:field="*{id}" th:value="${ds.id}">
        <input type="file" name="photo" accept="image/*" id="photo" class="form-control-file" required th:value="${ds.getPhoto()}">
        <input type="file" accept="image/*" id="photo2" class="form-control-file" required name="photo2" multiple>
        <input type="file" accept="image/*" id="photo3" class="form-control-file" required name="photo3" multiple>
        <input type="file" accept="image/*" id="photo4" class="form-control-file" required name="photo4" multiple>
        <input type="file" accept="image/*" id="photo5" class="form-control-file" required name="photo5" multiple>
        <input type="file" accept="image/*" id="photo6" class="form-control-file" required name="photo6" multiple>
        <input type="text" name="name" id="name" placeholder="Enter the Hostel's name..." required  th:field="*{name}" th:value="${ds.getName()}">
        <input type="text" name="location" id="location" placeholder="Enter the Hostel's Location..." required th:field="*{location}" th:value="${ds.getLocation()}">
        <input type="text" name="price" id="price" placeholder="Enter the Hostel's price..." required th:field="*{price}" th:value="${ds.getPrice()}">
        <textarea type="text" name="description" id="description" placeholder="Enter the Hostel's Description..." required th:field="*{description}" th:value="${ds.getDescription()}"></textarea>
        <button type="submit">Add Hostel</button>
      </div>
    </form>
  </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
<script type="text/javascript" th:src="@{/javascript/admin-dashboard.js}"></script>
</body>
</html>