<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hostel Booking</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/contact.css}">
  <link rel="stylesheet" th:href="@{/css/preloader.css}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script th:src="@{/javascript/preloader.js}" defer></script>
</head>
<body>
  <div class="preloader">
    <div class="spinner"></div>
  </div>
  <header th:replace="~{/fragments/header.html}"></header>
  <main class="contact-main-wrap">
    <div class="contact-us">
      <div class="main-contact">
        <h2>Contact Information</h2>
        <p class="subtitle">Please connect with us: We are expecting you.</p>
      </div>
      <div class="contact-pic">
        <img class="contact-image" th:src="@{/images/contact.png}" alt="">
      </div>
    </div>
    <br>
    <div class="contact-wrap">
      <form class="wrap-first" th:method="post" th:action="@{/saveQueries}" th:object="${queries}">
        <br>
        <h2 class="form-title">
          Any Queries?
        </h2>
        <br>
        <div class="for-fields">
          <div class="input-fields">
            <i class="fa-solid fa-user"></i>
            <input class="input" type="text" id="name" name="name" placeholder="Full Name..." required th:field="*{name}">
          </div>
          <div class="input-fields">
            <i class="fa-solid fa-at"></i>
            <input class="input" type="email" id="email" name="email" placeholder="Email-address..." required th:field="*{email}">
          </div>
          <div class="input-fields">
            <i class="fa-solid fa-mobile"></i>
            <input class="input" type="tel" id="phone" name="phone" placeholder="Mobile Number..." required th:field="*{phone}">
          </div>
          <div class="input-fields">
            <i class="fa-solid fa-location-dot"></i>
            <input class="input" type="text" id="address" name="address" placeholder="Address..." required th:field="*{address}">
          </div>
          <div class="input-fields">
            <i class="fa-solid fa-text"></i>
            <input class="input" type="text" id="subject" name="subject" placeholder="Subject..." required th:field="*{subject}">
          </div>
          <textarea class="contact-textarea" type="text" id="description" name="description" placeholder="Description..." required th:field="*{message}"></textarea>
          <br>
          <button class="contact-button" id="button" type="submit">Submit</button>
        </div>
      </form>
      <div class="wrap-second">
        <h2>Address :</h2>
        <br>
        <p><i class="fa-solid fa-building"></i>  Hostellers Nepal</p>
        <p><i class="fa-solid fa-location-dot"></i>  Satdobato, Lalitpur</p>
        <p><i class="fa-solid fa-city"></i>  Kathmandu, Nepal</p>
        <br>
        <a class="map" href="https://www.google.com/maps/place/Satdobato,+Lalitpur+44700/@27.6578654,85.3255994,16z/data=!4m6!3m5!1s0x39eb1763afe90a91:0x24e78f10fcea8163!8m2!3d27.6515356!4d85.327837!16s%2Fg%2F1tct73vm"><i class="fa-solid fa-map-pin"></i>  View on map</a>
        <br>
        <div class="wrap-second-detail">
          <p><i class="fa-solid fa-phone"></i> Call :</p>
          <p> 9846931874</p>
        </div>
        <div class="wrap-second-detail">
          <p><i class="fa-solid fa-at"></i> Email :</p>
          <p> karkyabhishek@gmail.com</p>
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>