<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hostel Booking</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" th:href="@{/css/contact.css}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
  <header th:replace="~{/fragments/header.html}"></header>
  <main class="contact-main-wrap">
    <div class="contact-us">
      <div class="main-contact">
        <h2>Contact Information</h2>
        <p class="subtitle">Please connect with us: We are expecting you.</p>
      </div>
      <div class="contact-pic">
        <img class="contact-image" th:src="@{/images/contact.png}" alt="">
      </div>
    </div>
    <br>
    <div class="contact-wrap">
      <form class="wrap-first">
        <h2 class="form-title">
          Any Queries?
        </h2>
        <br>
        <label for="Full Name">Full Name</label>
        <input class="contact-input" type="text" name="name" placeholder="Enter your name..." required>
        <label for="Mobile Number">Mobile Number</label>
        <input class="contact-input" type="tel" name="number" placeholder="Enter your mobile number..." required>
        <label for="Email-address">Email-address</label>
        <input class="contact-input" type="email" name="email" placeholder="Enter your email-address..." required>
        <label for="Subject?">Subject?</label>
        <input class="contact-input" type="text" name="subject" placeholder="Enter subject name..." required>
        <label for="Description">Description</label>
        <textarea class="contact-textarea" name="description" placeholder="Enter the description..." required></textarea>
        <br>
        <button type="submit" class="contact-button">Submit</button>
      </form>
      <div class="wrap-second">
        <h2>Address :</h2>
        <br>
        <p><i class="fa-solid fa-building"></i>  Hostellers Nepal</p>
        <p><i class="fa-solid fa-location-dot"></i>  Satdobato, Lalitpur</p>
        <p><i class="fa-solid fa-city"></i>  Kathmandu, Nepal</p>
        <br>
        <a class="map" href="https://www.google.com/maps/place/Satdobato,+Lalitpur+44700/@27.6578654,85.3255994,16z/data=!4m6!3m5!1s0x39eb1763afe90a91:0x24e78f10fcea8163!8m2!3d27.6515356!4d85.327837!16s%2Fg%2F1tct73vm"><i class="fa-solid fa-map-pin"></i>  View on map</a>
        <br>
        <div class="wrap-second-detail">
          <p><i class="fa-solid fa-phone"></i> Call :</p>
          <p> 9846931874</p>
        </div>
        <div class="wrap-second-detail">
          <p><i class="fa-solid fa-at"></i> Email :</p>
          <p> karkyabhishek@gmail.com</p>
        </div>
      </div>
    </div>
  </main>
  <footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>