<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Four Seater Rooms List</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin-list-page.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/admin-dashboard.css}">
</head>
<body>

<div class="grid-container">

  <header class="header">
    <div class="menu-icon" onclick="openSidebar()">
      <span class="material-icons-outlined">menu</span>
    </div>
    <div class="main-title">
      <h2>Four Seater Rooms List</h2>
    </div>

  </header>

  <aside id="sidebar">

    <div class="sidebar-title">
      <img th:src="@{/images/abhi.JPG}" height="40px" width="40px" alt="">
      <h4 class="profile-text">Admin</h4>
      <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
    </div>

    <ul class="sidebar-list">
      <li class="sidebar-list-item">
        <i class="fa-solid fa-house"></i> <a th:href="@{/192.168.1.1.1}">Dashboard</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-list-ul"></i> <a th:href="@{/192.168.1.1.1/booking-list}">Booking List</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{/192.168.1.1.1/add-single-seater-room}">Add Single Seater</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-list-ul"></i> <a th:href="@{/192.168.1.1.1/single-seater-rooms-list}">Single Seater Rooms List</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{/192.168.1.1.1/add-double-seater-room}">Add Double Seater</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-list-ul"></i> <a th:href="@{/192.168.1.1.1/double-seater-rooms-list}">Double Seater Rooms List</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{@{/192.168.1.1.1/add-triple-seater-room}}">Add Triple Seater</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-list-ul"></i> <a th:href="@{/192.168.1.1.1/triple-seater-rooms-list}">Triple Seater Rooms List</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{/192.168.1.1.1/add-four-seater-room}">Add Four Seater</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-list-ul"></i> <a th:href="@{/192.168.1.1.1/four-seater-rooms-list}">Four Seater Rooms List</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-plus"></i> <a th:href="@{/192.168.1.1.1/add-blogs}">Add Blogs</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-list-ul"></i> <a th:href="@{/192.168.1.1.1/blogs-list}">Blogs List</a>
      </li>
      <li class="sidebar-list-item">
        <i class="fa-solid fa-right-from-bracket"></i> <a th:href="@{/logout}">logout</a>
      </li>
    </ul>
  </aside>

  <!-- Main -->
  <main class="main-container">
    <div class="order-table">
      <form>
        <table class="content-table" id="table_id">
          <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Name</th>
            <th>Location</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Photo</td>
            <td>Canvas Hostel</td>
            <td>Maitidevi, Kathmandu</td>
            <td>Rs. 10000</td>
            <td> This is akfnskjdnfkjdsnvjkeswnbvkjsdbnvjkdsbnvkjdfnbvjkdfbnvjdfnbvdfrnbvjkdefrnv</td>
            <td><a class="delete-button" href="">Edit</a> <a class="delete-button" href="">Delete</a></td>
          </tr>
          </tbody>
        </table>
        <script
                type="text/javascript"
                charset="utf8"
                src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"
        ></script>
        <script
                type="text/javascript"
                charset="utf8"
                src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js">
          document.getElementsByClassName()
        </script>
        <script>
          $(function() {
            $("#table_id").dataTable();
          });
        </script>

        <br><br>
      </form>
    </div>
  </main>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
<script type="text/javascript" th:src="@{/javascript/admin-dashboard.js}"></script>
</body>
</html>