<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Booking</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/preloader.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script th:src="@{/javascript/preloader.js}" defer></script>
</head>
<body>
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <header th:replace="~{/fragments/header.html}"></header>
    <main>
        <div class="first">
            <div class="firstleft">
                <h1 class="first-left-heading-one">
                    Hosteller Nepal
                </h1>
                <br>
                <h2>
                    Explore Your Hostel World.
                </h2>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptas nihil officiis modi velit laboriosam corrupti <br>fuga sequi inventore sit odio. Accusantium earum id modi <br>doloribus molestias non ipsam sequi omnis!
                </p>
                <br>
                <br>
                <br>
                <a class="first-left-anchor" th:href="@{/room/single-seater}">Book Now</a>
            </div>
            <div class="firstright">
                <img class="firstimg" th:src="@{/images/landingpi.jpg}">
            </div>
        </div>
        <br>
        <div class="second">
            <div class="secondfirst">
                <h1>Single Seater Rooms</h1>
                <a class="seconda" th:href="@{/room/single-seater}">See Rooms</a>
            </div>
            <div class="secondsecond">
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/pica.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picb.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picc.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="second">
            <div class="secondfirst">
                <h1>Double Seater Rooms</h1>
                <a class="seconda" th:href="@{/room/single-seater}">See Rooms</a>
            </div>
            <div class="secondsecond">
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/pica.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picb.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picc.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="second">
            <div class="secondfirst">
                <h1>Triple Seater Rooms</h1>
                <a class="seconda" th:href="@{/room/single-seater}">See Rooms</a>
            </div>
            <div class="secondsecond">
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/pica.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picb.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picc.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="second">
            <div class="secondfirst">
                <h1>Four Seater Rooms</h1>
                <a class="seconda" th:href="@{/room/single-seater}">See Rooms</a>
            </div>
            <div class="secondsecond">
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/pica.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picb.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picc.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Canvas Hostel</h2>
                        <p><i class="fa-solid fa-location-dot"></i> Maitidevi, Kathmandu</p>
                        <div class="description-body">
                            <div class="description-body-first">
                                <p class="price">Rs. 10000</p>
                                <p>3 Seater</p>
                            </div>
                            <p class="per-per">per person per month</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="forth">
            <div class="forthfirst">
                <h1>Our Blogs</h1>
                <a class="fortha" th:href="@{/blogs}">See More</a>
            </div>
            <div class="forthsecond">
                <div class="blogs-tile" th:each="recent:${mostRecentBlogs}">
                    <div class="blogs-tile-image-div">
                        <img th:src="'data:image/png;base64,'+${recent.imageBase64}" alt="">
                    </div>
                    <div class="blogs-tile-heading">
                        <p th:text="${recent.topic}"></p>
                    </div>
                    <div class="date-div">
                        <i class="fa-solid fa-clock"></i>
                        <p>January 30th</p>
                    </div>
                    <div class="blogs-tile-description">
                        <p th:text="${recent.description}"></p>
                    </div>
                    <a class="blogs-tile-anchor" href="">Read More</a>
                </div>
            </div>
        </div>
        <br>
    </main>
    <footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>