<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Booking || Landing</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header th:replace="~{/fragments/header.html}"></header>
    <main>
        <div class="first">
            <div class="firstleft">
                <h1>
                    Hostel Booking - For the people <br>who are planning to stay and explore.
                </h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Voluptas nihil officiis modi velit laboriosam corrupti <br>fuga sequi inventore sit odio. Accusantium earum id modi <br>doloribus molestias non ipsam sequi omnis!
                </p>
            </div>
            <div class="firstright">
                <img class="firstimg" th:src="@{/images/hero-img.jpg}">
            </div>
        </div>
        <br>
        <div class="second">
            <div class="secondfirst">
                <h1>Hostel Rooms</h1>
                <a class="seconda" href="">See Rooms</a>
            </div>
            <div class="secondsecond">
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/pica.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Room name</h2>
                        <div class="description-body">
                            <p>Price</p>
                            <p>seater</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picb.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Room name</h2>
                        <div class="description-body">
                            <p>Price</p>
                            <p>seater</p>
                        </div>
                    </div>
                </div>
                <div class="roomdiv">
                    <div class="photodiv">
                        <img class="room-pic" th:src="@{/images/picc.jpg}">
                    </div>
                    <div class="descriptiondiv">
                        <h2>Room name</h2>
                        <div class="description-body">
                            <p>Price</p>
                            <p>seater</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>