<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Booking || Triple Seater Room Details</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/room-description.css}">
    <link rel="stylesheet" th:href="@{/css/preloader.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
    <script th:src="@{/javascript/preloader.js}" defer></script>
</head>
<body>
<div class="preloader">
    <div class="spinner"></div>
</div>
<header th:replace="~{/fragments/header.html}"></header>
<br>
<main class="room-description-main">
    <div class="room-description-main-div">
        <div class="room-description-main-first">
            <div class="room-description-main-first-text">
                <h2 th:text="${descriptionTriple.getName()}"></h2>
                <p th:text="${descriptionTriple.getLocation()}"><i class="fa-solid fa-location-dot"></i> </p>
            </div>

            <a class="room-description-main-anchor" th:href="@{~/room/booking-triple-seater/}+${descriptionTriple.id}">Book Now</a>
        </div>
        <div class="room-description-main-second">
            <img class="rooms-image" th:src="'data:image/png;base64,'+${descriptionTriple.getPhoto()}" alt="">
            <img class="rooms-image" th:src="@{/images/pica.jpg}" alt="">
            <img class="rooms-image" th:src="@{/images/pica.jpg}" alt="">
            <img class="rooms-image" th:src="@{/images/pica.jpg}" alt="">
            <img class="rooms-image" th:src="@{/images/pica.jpg}" alt="">
            <img class="rooms-image" th:src="@{/images/pica.jpg}" alt="">
        </div>
        <br>
        <div class="room-description-main-third">
            <div class="room-description-main-third-div">
                <i class="fa-solid fa-check"></i>
                <p>Parking</p>
            </div>
            <div class="room-description-main-third-div">
                <i class="fa-solid fa-check"></i>
                <p>Laundry</p>
            </div>
            <div class="room-description-main-third-div">
                <i class="fa-solid fa-check"></i>
                <p>Fooding</p>
            </div>
            <div class="room-description-main-third-div">
                <i class="fa-solid fa-check"></i>
                <p>Internet</p>
            </div>
        </div>
        <br>
        <div class="room-description-main-fourth">
            <p th:text="${descriptionTriple.getDescription()}"></p>
        </div>
    </div>
</main>
<br>
<footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>