<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hostel Booking || Single Seater Room</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/single-seater.css}">
  <link rel="stylesheet" th:href="@{/css/preloader.css}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">
  <script th:src="@{/javascript/preloader.js}" defer></script>
</head>
<body>
<div class="preloader">
  <div class="spinner"></div>
</div>
<header th:replace="~{/fragments/header.html}"></header>
<main class="single-main-wrap">
  <div class="single-first">
    <div class="single-first-main">
      <h2>Single Seater Rooms</h2>
      <p class="subtitle" th:text="'Search Results For: '+${searchLocation}"></p>
    </div>
    <div class="single-first-image">
      <img class="single-image" th:src="@{/images/room.png}" alt="">
    </div>
  </div>
  <br>
  <div class="single-search-div">
    <div class="single-search-box">
      <input class="search-input" type="text" placeholder="Search by location...">
      <button class="search-icon-button" onclick="if (document.getElementsByClassName('search-input').item(0).value!=='')
      window.location='/room/search-single-seater/'+document.getElementsByClassName('search-input').item(0).value"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  </div>
  <div class="room-div" th:if="${singleSeaterList.isEmpty()}">
    <h2 th:text="'Sorry! But We could not find any hostel in '+${searchLocation}"></h2>
  </div>
  <div class="room-div" th:each="searchSingle:${singleSeaterList}">
    <div class="room-div-one">
      <a th:href="@{~/room/single-seater-room-description/}+${searchSingle.id}"><img class="room-pic" th:src="'data:image/png;base64,'+${searchSingle.imageBase64}"/></a>
    </div>
    <div class="room-div-two">
      <a class="heading-anchor" th:href="@{~/room/single-seater-room-description/}+${searchSingle.id}"><h2 th:text="${searchSingle.name}"></h2></a>
      <div class="for-location">
        <i class="fa-solid fa-map-pin"></i>
        <p th:text="${searchSingle.location}"></p>
      </div>
      <p class="price" th:text="'Rs. '+${searchSingle.price}"></p>
      <br>
      <div class="room-description">
        <p th:text="${searchSingle.description}"></p>
      </div>
    </div>
    <div class="room-div-three">
      <div class="rating-div">
        <div class="stars">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
      <a class="room-div-three-anchor" th:href="@{~/room/booking-single-seater/}+${searchSingle.id}">Book Now</a>
    </div>
  </div>
</main>
<footer th:replace="~{/fragments/footer.html}"></footer>
</body>
<script>
  let myPage = "single-seater";
  let listGroupItem = Array.from(document.getElementsByClassName("list-group-item"));
  listGroupItem.forEach(i => {
    i.classList.remove("active")
  })
  let activeID = document.getElementById(myPage);
  activeID.classList.add("active");
</script>
</html>