<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hostel Booking || Single Seater Room</title>
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/single-seater.css}">
  <link rel="stylesheet" th:href="@{/css/preloader.css}">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script th:src="@{/javascript/preloader.js}" defer></script>
</head>
<body>
  <div class="preloader">
    <div class="spinner"></div>
  </div>
  <header th:replace="~{/fragments/header.html}"></header>
  <main class="single-main-wrap">
    <div class="single-first">
      <div class="single-first-main">
        <h2>Single Seater Rooms</h2>
        <p class="subtitle">All single seater rooms are listed here.</p>
      </div>
      <div class="single-first-image">
        <img class="single-image" th:src="@{/images/room.png}" alt="">
      </div>
    </div>
    <br>
    <div class="single-search-div">
      <div class="single-search-box">
        <input class="search-input" type="text" placeholder="Search here...">
        <button class="search-icon-button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
    </div>
    <div class="room-div">
      <div class="room-div-one">
        <a th:href="@{/room/description}"><img class="room-pic" th:src="@{/images/pica.jpg}"></a>
      </div>
      <div class="room-div-two">
        <a class="heading-anchor" th:href="@{/room/description}"><h2>Canvas Hostel</h2></a>
        <div class="for-location">
          <i class="fa-solid fa-map-pin"></i>
          <p>Matitidevi, Kathmandu</p>
        </div>
        <br>
        <div class="room-description">
          <p>This Hostel is located in central part of kathmandu valley. Everyplaces from this hostel is near to the highted places of the valley.</p>
        </div>
      </div>
      <div class="room-div-three">
        <div class="rating-div">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="room-div-three-anchor" href="">Book Now</a>
      </div>
    </div>
    <div class="room-div">
      <div class="room-div-one">
        <a th:href="@{/room/description}"><img class="room-pic" th:src="@{/images/pica.jpg}"></a>
      </div>
      <div class="room-div-two">
        <a class="heading-anchor" th:href="@{/room/description}"><h2>Canvas Hostel</h2></a>
        <div class="for-location">
          <i class="fa-solid fa-map-pin"></i>
          <p>Matitidevi, Kathmandu</p>
        </div>
        <br>
        <div class="room-description">
          <p>This Hostel is located in central part of kathmandu valley. Everyplaces from this hostel is near to the highted places of the valley.</p>
        </div>
      </div>
      <div class="room-div-three">
        <div class="rating-div">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="room-div-three-anchor" href="">Book Now</a>
      </div>
    </div>
    <div class="room-div">
      <div class="room-div-one">
        <a th:href="@{/room/description}"><img class="room-pic" th:src="@{/images/pica.jpg}"></a>
      </div>
      <div class="room-div-two">
        <a class="heading-anchor" th:href="@{/room/description}"><h2>Canvas Hostel</h2></a>
        <div class="for-location">
          <i class="fa-solid fa-map-pin"></i>
          <p>Matitidevi, Kathmandu</p>
        </div>
        <br>
        <div class="room-description">
          <p>This Hostel is located in central part of kathmandu valley. Everyplaces from this hostel is near to the highted places of the valley.</p>
        </div>
      </div>
      <div class="room-div-three">
        <div class="rating-div">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="room-div-three-anchor" href="">Book Now</a>
      </div>
    </div>
    <div class="room-div">
      <div class="room-div-one">
        <a th:href="@{/room/description}"><img class="room-pic" th:src="@{/images/pica.jpg}"></a>
      </div>
      <div class="room-div-two">
        <a class="heading-anchor" th:href="@{/room/description}"><h2>Canvas Hostel</h2></a>
        <div class="for-location">
          <i class="fa-solid fa-map-pin"></i>
          <p>Matitidevi, Kathmandu</p>
        </div>
        <br>
        <div class="room-description">
          <p>This Hostel is located in central part of kathmandu valley. Everyplaces from this hostel is near to the highted places of the valley.</p>
        </div>
      </div>
      <div class="room-div-three">
        <div class="rating-div">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="room-div-three-anchor" href="">Book Now</a>
      </div>
    </div>
    <div class="room-div">
      <div class="room-div-one">
        <a th:href="@{/room/description}"><img class="room-pic" th:src="@{/images/pica.jpg}"></a>
      </div>
      <div class="room-div-two">
        <a class="heading-anchor" th:href="@{/room/description}"><h2>Canvas Hostel</h2></a>
        <div class="for-location">
          <i class="fa-solid fa-map-pin"></i>
          <p>Matitidevi, Kathmandu</p>
        </div>
        <br>
        <div class="room-description">
          <p>This Hostel is located in central part of kathmandu valley. Everyplaces from this hostel is near to the highted places of the valley.</p>
        </div>
      </div>
      <div class="room-div-three">
        <div class="rating-div">
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <a class="room-div-three-anchor" href="">Book Now</a>
      </div>
    </div>
  </main>
  <footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>